@charset "utf-8";
/* CSS Document */

html {
			background-color: mediumpurple
		}
		
		.top {
			width: 90%;
			margin: auto;
			padding: 5px 10px;
			background: mediumpurple;
			border-radius: 50px;
		}
		
		.inventory {
			width:50%;
			margin:0 auto;
			padding: 5px 10px;
			background: orange;
			border-radius: 15px;
			
		}
		
		div.Header {
			width: 50%;
			margin: 0 auto;
			color:red;
			font-family: Georgia,"Times New Roman",serif;
			font-size: 2em;
			font-style: italic;
			background-color: aqua;
			border-top: 30px solid orange;
			border-bottom: 30px solid orange;
			padding: 5px 10px;
		
		}
		
		.pictureone {
			margin-left: 254px
		}
		
		.poplist {
			height: 90%;
			width: 46%;
			margin: auto;
			padding: 48.5px 10px;
			background: #4A2DFF;
			float: right;
			border-radius: 15px;
		}
		
		.MG{
			background:#FFF971;
			padding: 5px 5px;
			float: left;
			
			
		}
		
		.MG2 {
			width: 95%;
			margin: 0 auto;
			background: #80CF80;
			padding: 5px 10px;
			float: left;
				
				
				
		}
		div.MainGenre {
			width: 80%;
			margin: 0 auto;
			padding: 5px 10px;
			border-radius: 15px;
			
		}
		
		div.SubGenre {
			width: 80%;
			margin: 0 auto;
			padding: 5px 10px;
			border-radius: 15px;
		}
		
		.picturetwo {
			width: 640px;
			height: 360px;
			margin-left: 60px;
		}
		
		
			
		.extra{
			margin: 0 auto;
			background: #763637;
			padding: 5px 5px;
			float: left;
			border-radius: 15px;
		}
	
		.extra2{
			width: 50%;
			background:#358AA8;
			padding: 10px 11.5px;
			clear: left;
			border-radius: 15px;
		}

		.firstalbum{
			width: 220px;
			padding: 5px 5px;
			background: red;
			border-radius: 15px;
		}

		.secondalbum{
			width: 220px;
			padding: 5px 5px;
			background: #3131F9;
			border-radius: 15px;
		}

		.thirdalbum{
			width: 220px;
			padding: 5px 5px;
			background: #FBFA5A;
			border-radius: 15px;
		}

		.fourthalbum{
			width: 220px;
			padding: 5px 5px;
			background: #4FFF34;
			border-radius: 15px;
		}